@import "./_colors.pcss";

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  color: $bodyBlack;
}

h1, h2 {
  color: $headerBlack;
}

p {
  margin: 0;
}